
#A, #B, #C, #D,#E ,#F,#G,#H,#I,#J, #K, #L, #M, #N, #O, #P{
    border-style: solid;
    border-width: medium;
    width: 13%;
    margin: 0;
    padding : 0.2em;
    line-height: 0.45em;
}
.list-item{
    padding-top: 0.1em;
    border-width: thin;
    padding-bottom: 0.4em;
    font-size: 0.85em;
    margin: 0 auto;
    width:200%;
    
}

.container-fluid{
    left: 50%;
    top: 50%;

}
#hl1{
    position:absolute;
    bottom:50%;
    top:50%;
    right:45%;
    left:45%;
    width:10%;
    height:5px;
    
    background:black;
    display: none;
      
}

#vl1 {
    border-left: 3px solid black;
    height: 42%;
    position: absolute;
    left: 45%;
    margin-left: -3px;
    top: 30.5%;
    display: none;
  }
  
#vl2 {
    border-left: 3px solid black;
    height: 42%;
    position: absolute;
    right: 45%;
    margin-left: -3px;
    top: 30.5%;
    display: none;
  }

#hl2{
    
    position:absolute;
    bottom:40%;
    top:28%;
    left:39.9%;
    width:5.1%;
    height:0.4%;
    background:black;
    display: none;
      
}
#hl3{
    
    position:absolute;
    bottom:20%;
    top:70%;
    left:39.9%;
    width:5.1%;
    height:0.4%;
    background:black;
    display: none;
      
}

#hl4{
    
    position:absolute;
    bottom:40%;
    top:28%;
    right:40.1%;
    width:5.1%;
    height:0.4%;
    background:black;
    display: none;
      
}
#hl5{
    
    position:absolute;
    bottom:40%;
    top:70%;
    right:40.1%;
    width:5%;
    height:0.4%;
    background:black;
    display: none;
      
}


#vl3 {
    border-left: 3px solid black;
    height: 17.6%;
    position: absolute;
    left: 42%;
    margin-left: -3px;
    top: 25%;
    display: none;
  }

#vl4 {
    border-left: 3px solid black;
    height: 21.6%;
    position: absolute;
    left: 40%;
    margin-left: -3px;
    bottom: 17.5%;
    display: none;
  }


#vl5 {
    border-left: 3px solid black;
    height: 21.6%;
    position: absolute;
    right: 40%;
    margin-left: -3px;
    top: 20%;
    display: none;
  }

#vl6 {
    border-left: 3px solid black;
    height: 21.6%;
    position: absolute;
    right: 40%;
    margin-left: -3px;
    bottom: 17.5%;
    display: none;
  }


#vl7 {
    border-left: 3px solid black;
    height: 21.6%;
    position: absolute;
    left: 40%;
    margin-left: -3px;
    top: 20%;
    display: none;
  }

#hl6{
    position:absolute;
    top:18%;
    left:35%;
    width:5%;
    height:3px;
    background:black;
    display: none;
}
#hl7{
    position:absolute;
    top:39%;
    left:35%;
    width:5%;
    height:3px;
    background:black;
    display: none;
}
#hl8{
    position:absolute;
    top:39%;
    right:35%;
    width:5%;
    height:3px;
    background:black;
    display: none;
}
#hl9{
    position:absolute;
    top:18%;
    right:35%;
    width:5%;
    height:3px;
    background:black;
    display: none;
}
#hl10{
    position:absolute;
    top:58.5%;
    right:35%;
    width:5%;
    height:3px;
    background:black;
    display: none;
}
#hl11{
    position:absolute;
    top:80%;
    right:35%;
    width:5%;
    height:3px;
    background:black;
    display: none;
}

#hl12{
    position:absolute;
    top:58.5%;
    left:35%;
    width:5%;
    height:3px;
    background:black;
    display: none;
}

#hl13{
    position:absolute;
    top:80%;
    left:35%;
    width:5%;
    height:3px;
    background:black;
    display: none;
}

#vl8 {
    border-left: 3px solid black;
    height: 13%;
    position: absolute;
    right: 35%;
    margin-left: -3px;
    bottom: 11%;
    display: none;
  }

#hl14{
    position:absolute;
    top:86.3%;
    right:30.4%;
    left:65%;
    width:5%;
    height:3px;
    background:black;
    display: none;
}

#hl15{
    position:absolute;
    top:73.9%;
    right:30.4%;
    left:65%;
    width:5%;
    height:3px;
    background:black;
    display: none;
}



  #vl9 {
    border-left: 3px solid black;
    height: 13%;
    position: absolute;
    left: 35%;
    margin-left: -3px;
    bottom: 11%;
    display: none;
  }

  #hl16{
    position:absolute;
    top:86.3%;
    left:30%;
    width:5%;
    height:3px;
    background:black;
    display: none;
}

#hl17{
    position:absolute;
    top:73.5%;
    left:30%;
    width:5%;
    height:3px;
    background:black;
    display: none;
}


  #vl10 {
    border-left: 3px solid black;
    height: 13%;
    position: absolute;
    right: 35%;
    margin-left: -3px;
    top: 15%;
    display: none;
  }

#hl18{
    position:absolute;
    top:13%;
    right:30%;
    width:5%;
    height:3px;
    background:black;
    display: none;
}

#hl19{
    position:absolute;
    top:25.3%;
    right:30%;
    width:5%;
    height:3px;
    background:black;
    display: none;
}



  #vl11 {
    border-left: 3px solid black;
    height: 13%;
    position: absolute;
    left: 35%;
    margin-left: -3px;
    top: 15%;
    display: none;
  }


#hl20{
    position:absolute;
    top:13%;
    left:30%;
    width:5%;
    height:3px;
    background:black;
    display: none;
}

#hl21{
    position:absolute;
    top:25.3%;
    left:30%;
    width:5%;
    height:3px;
    background:black;
    display: none;
}


  #vl12 {
    border-left: 3px solid black;
    height: 13%;
    position: absolute;
    right: 35%;
    margin-left: -3px;
    top: 54.5%;
    display: none;
  }

#hl22{
    position:absolute;
    top:65%;
    right:30.4%;
    left:65%;
    width:5%;
    height:3px;
    background:black;
    display: none;
}

#hl23{
    position:absolute;
    top:52.3%;
    right:30.4%;
    left:65%;
    width:5%;
    height:3px;
    background:black;
    display: none;
}

  
  #vl13 {
    border-left: 3px solid black;
    height: 13%;
    position: absolute;
    left: 35%;
    margin-left: -3px;
    top: 54.5%;
    display: none;
  }

  #hl24{
    position:absolute;
    top:65%;
    left:30%;
    width:5%;
    height:3px;
    background:black;
    display: none;
}

#hl25{
    position:absolute;
    top:52%;
    left:30%;
    width:5%;
    height:3px;
    background:black;
    display: none;
}


  #vl14 {
    border-left: 3px solid black;
    height: 13%;
    position: absolute;
    right: 35%;
    margin-left: -3px;
    top: 34%;
    display: none;
  }


  #hl26{
    position:absolute;
    top:31.5%;
    right:30%;
    width:5%;
    height:3px;
    background:black;
    display: none;
}

#hl27{
    position:absolute;
    top:44.5%;
    right:30%;
    width:5%;
    height:3px;
    background:black;
    display: none;
}

  #vl15 {
    border-left: 3px solid black;
    height: 13%;
    position: absolute;
    left: 35%;
    margin-left: -3px;
    top: 34%;
    display: none;
  }


  #hl28{
    position:absolute;
    top:32%;
    left:30%;
    width:5%;
    height:3px;
    background:black;
    display: none;
}

#hl29{
    position:absolute;
    top:44.5%;
    left:30%;
    width:5%;
    height:3px;
    background:black;
    display: none;
}