body{
    /*134 Glass Water - https://cssgradient.io/gradient-backgrounds/ */
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color: #868f96;

}


/* custom color of nav brand and text */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text{
    color: #29323c;
    border-top: transparent solid 30px;
    transition: length 2s ;
    
}

/* change the color of brand on hover */
.navbar-custom .navbar-brand:hover{
    color: white;
    background-color:#df4f4f;
    transition: length 2s;
}

/* custom color of links */
.navbar-custom .navbar-nav .nav-link {
    color:#304352;
    border-top: transparent solid 30px;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item:hover .nav-link,
.navbar-custom .nav-item.active .nav-link {
    color: white;
    background-color:#df4f4f;
    transition: all .5s ease-in-out;
}



/* custom color of navbar background */
.navbar-custom { 
    /*134 Glass Water - https://cssgradient.io/gradient-backgrounds/ */
    background-color: transparent;
    z-index: 4;
} 

.jumbotron{
    /* 123 night sky - https://cssgradient.io/gradient-backgrounds/ */
    background-color: transparent;
    padding-top: 20%;
    padding-bottom: 15%;
}

.jumbotron-image {
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 33%;
    z-index: 2;
  }
  
  .dot {
    height: 25vw;
    width: 25vw;
    background-color: #df4f4f;
    border-radius: 50%;
    display: inline-block;
    position: absolute; left:60%; top:-5%;
    z-index: -1;
    
  }


h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 150px;
    text-align: left;
    color: #29323c;
    z-index: 3;
}
#subtitle{
    text-align: left;
    padding-top: 20px;
    color: #304352;
    z-index: 3;
    margin-left: -15px;
}

h3{
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 50px;
    padding-bottom: 15%;
    
    color: #304352;
}


h4{
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #304352;

}


.img-fluid{
    max-width: 100%;
    height: auto;
    float: right;
}



.btn-custom{
    background-color: #df4f4f;
    color:white;
}

#footer{
    background-color:#29323c;
}

h5{
    color: white;
}

.footerText{
    color: #efeeec;
}


/* 

#tcardbody{
    background-color: #05B384;
}
#dcardbody{
    background-color: #0588b3;
}

.phrase{
    font-size: 1.5em;
}

#card1{
    top: 10%;
    left: 110%;
    animation-name: leftslidein;
    animation-duration: 0.5s;
}
#card2{
    top: 10%;
    right: 110%;
    animation-name: rightslidein;
    animation-duration: 0.5s;
}

#row1{
    padding-top:5%;
    padding-left:2%;
}


*/
