body{
    /*134 Glass Water - https://cssgradient.io/gradient-backgrounds/ */
    background: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color: #868f96;
  
  }

  /* custom color of nav brand and text */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text{
    color: #29323c !important;
    font-family: 'Work Sans', sans-serif;
    border-top: transparent solid 30px;
    transition: length 2s ;
    
}

/* change the color of brand on hover */
.navbar-custom .navbar-brand:hover{
    color: white !important;
    background-color:#df4f4f;
    transition: length 2s;
}

/* custom color of links */
.navbar-custom .navbar-nav .nav-link {
    font-family: 'Work Sans', sans-serif;
    color:#29323c !important;
    border-top: transparent solid 30px;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item:hover .nav-link,
.navbar-custom .nav-item.active .nav-link {
    color: white !important;
    background-color:#df4f4f;
    transition: all .5s ease-in-out;
}



/* custom color of navbar background */
.navbar-custom { 
    /*134 Glass Water - https://cssgradient.io/gradient-backgrounds/ */
    background-color: transparent;
    float:right;
} 

i{
  font-size: 10rem;
}

p{
  font-family: 'Work Sans', sans-serif;
  color: #304352;
  font-size: larger;
}
span{
  font-weight: bold;
}