body{
  /*134 Glass Water - https://cssgradient.io/gradient-backgrounds/ */
  background: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: #868f96;

}
i{
  height: 200px!important;
  width: 300px!important;
  color: white!important;
}
.lead{
  font-family: 'Work Sans', sans-serif;
  color: #304352;
  text-align: center;

}

h2{
  font-family: 'Work Sans', sans-serif;
  color: #304352;
}

label, input {
  font-family: 'Work Sans', sans-serif;
  color: #304352;
}


:placeholder-shown{
  font-family: 'Work Sans', sans-serif;
  color: #868f96;
}

.btn{
  font-family: 'Work Sans', sans-serif;
}

/* custom color of nav brand and text */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text{
    color: #29323c !important;
    font-family: 'Work Sans', sans-serif;
    border-top: transparent solid 30px;
    transition: length 2s ;
    
}

/* change the color of brand on hover */
.navbar-custom .navbar-brand:hover{
    color: white !important;
    background-color:#df4f4f;
    transition: length 2s;
}

/* custom color of links */
.navbar-custom .navbar-nav .nav-link {
    font-family: 'Work Sans', sans-serif;
    color:#29323c !important;
    border-top: transparent solid 30px;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item:hover .nav-link,
.navbar-custom .nav-item.active .nav-link {
    color: white !important;
    background-color:#df4f4f;
    transition: all .5s ease-in-out;
}



/* custom color of navbar background */
.navbar-custom { 
    /*134 Glass Water - https://cssgradient.io/gradient-backgrounds/ */
    background-color: transparent;
    float:right;
} 


#formAddPlayer {
  display: none;
background-color: #f7f5f3;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #29323c;
}
.wrapper{
  float: left;
}
#addgetdropdown {
  margin-top:0px;
  margin-bottom: 10px;
}

#formGetPlayer {
  display: none;
  border: rgb(140, 143, 140) 1px solid;
}

#formAddTournament {
  display: none;
  background-color: #f7f5f3;
}

#formGetTournament {
  display: none;
  border: rgb(140, 143, 140) 1px solid;
}

#formAddMatch {
  display: none;
  background-color: #f7f5f3;
}

#formGetMatch {
  display: none;
  border: rgb(140, 143, 140) 1px solid;
}

#formAddPoints {
  display: none;
  background-color: #f7f5f3;
}

#formGetPoints {
  display: none;
  border: rgb(140, 143, 140) 1px solid;
}

#diagramcolumn{
  display:none;
}

#addPlayerSubmitBtn {
  margin-top: 20px;
}

#addPlayerHeight {
  border: solid, black, 3px;
}

#addPlayerHeight {
  margin-bottom: 20px;
}

.output {
  display: flex;
  justify-content: space-around;
}

#getPlayerSubmitBtn{
  margin-top: 20px;
}




#searchPlayer{
  display: none;
}
#searchCountry{
  display: none;
}

#fromToYear{
  display: none;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

#typePointsPlayer{
  display: none;
}

#sumPointsHeight {
  display: none;
}

#sumPointsHeightOnPL{
  display: none;
}


/*
<-----------------SIDEBAR------------------>
*/

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset -5px 0 0 rgba(0, 0, 0, .1);
  background-color: #29323c !important;
  font-family: 'Work Sans', sans-serif !important;
  float: left;
  width: 15%!important;
}

.sidebar-sticky {
  position: absolute;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .2rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */

}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: white;
}

.sidebar .nav-link{
  margin-right: 4px;
  color:white;
}


.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
  color: #efeeec;
}
.sidebar-item:hover, .dropdown-item:hover{
  background-color: #3e4c5b!important;
  color:white
}

.dropdown-item.active{
  background-color: #304352!important;
}

.dropdown-item{
  color: #efeeec !important;
  overflow-wrap: break-word !important;
}
.btn{
  background-color: #597e98!important;
  border-color: #597e98!important;
}
h3{
  color:#efeeec;
  font-family: 'Work Sans', sans-serif;

}
/* <---------Footer  Partition---------->*/
#footer{
  border-color: #868f96!important;
}

.footerText{
  color: #efeeec;
}

.container{
  position: relative !important;
  margin-left: 15%!important;
  margin-right: 15%!important;
}