@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');
body {
      background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
      font-family: 'Work Sans', sans-serif;
      font-weight: 300 ;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-align:center;
    color: #29323c;
}

h2{
    font-family: 'Work Sans', sans-serif;
    color: #304352;
    text-align: center;

}

.description{
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color: #868f96;
    text-align: center;
}

.label{
color: #304352;
font-family: 'Work Sans', sans-serif;
}

.lead{
    color: #304352;
    font-family: 'Work Sans', sans-serif;
    text-align: left;
}

.player {
    border: none;
    outline: none;
    background-color: white !important;
    cursor: pointer;
    font-size: 1em;
    color: #304352;
    font-family: 'Work Sans', sans-serif;

  }
  /* Style the active class, and buttons on mouse-over */
  .player:hover {
    background-color: white;
    border: 2px solid#304352;
    color:#304352;
  }
  .selected {
    background-color:#597e98!important;
    border: 2px solid#597e98!important;
    color: white;
  }
  .selected:hover{
    background-color:#597e98!important;
    border: 2px solid#597e98!important;
    color: white;

  }


#playerlist{
    -webkit-overflow-scrolling: touch;

   
}

#playerlist_column{
    background-color:#f7f5f3;
}

#footer{
    background-color:#29323c;
}

.footerText{
    color: #efeeec;
    font-family: 'Work Sans', sans-serif;
}

h5{
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;

}

/* custom color of nav brand and text */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text{
    color: #29323c !important;
    font-family: 'Work Sans', sans-serif;
    border-top: transparent solid 30px;
    transition: length 2s ;
    
}

/* change the color of brand on hover */
.navbar-custom .navbar-brand:hover{
    color: white !important;
    background-color:#df4f4f;
    transition: length 2s;
}

/* custom color of links */
.navbar-custom .navbar-nav .nav-link {
    font-family: 'Work Sans', sans-serif;
    color:#29323c !important;
    border-top: transparent solid 30px;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item:hover .nav-link,
.navbar-custom .nav-item.active .nav-link {
    color: white !important;
    background-color:#df4f4f;
    transition: all .5s ease-in-out;
}



/* custom color of navbar background */
.navbar-custom { 
    /*134 Glass Water - https://cssgradient.io/gradient-backgrounds/ */
    background-color: transparent;
} 



.buttons{
    color: white !important;
    background-color:  #df4f4f !important;
    font-family: 'Work Sans', sans-serif;    
}




#AddPlayersForm{
    background-color:#f7f5f3;
}

